<form class="form eating-form">

    <label for="date">Date:</label>
    <input class="form-input" type="date" id="date" />

    <br>

    <label for="food_name">Food name:</label>
    <input class="form-input" type="text" id="food_name" />

    <br>

    <label for="meal_type">Meal Type:</label>
    <select name="meal_type" id="meal_type">
        <option value="Breakfast">Breakfast</option>
        <option value="Lunch">Lunch</option>
        <option value="Dinner">Dinner</option>
        <option value="Snack">Snack</option>
    </select>

    <br>

    <p>Nutritional info:</p>

    <label for="calories">Calories:</label>
    <input class="form-input" type="number" id="calories" />

    <br>

    <label for="protein">Protein (g):</label>
    <input class="form-input" type="number" id="protein" />

    <br>

    <label for="fat">Fat (g):</label>
    <input class="form-input" type="number" id="fat" />

    <br>

    <label for="carbs">Carbs (g):</label>
    <input class="form-input" type="number" id="carbs" />

    <br>

    <button class="btn btn-primary" id="eatingSubmit" type="submit">Submit</button>

</form>

<div class="fancy">
    <div id="quote">

    </div>
    <div id="author">

    </div>
</div>


<script src="./js/submit/eating.js"></script>