<form class="form sleeping-form">
    <label for="date">Date:</label>
    <input class="form-input" type="date" id="date" />

    <br>

    <label for="sleep-hours">Hours slept:</label>
    <input class="form-input" type="number" id="sleep-hours" />

    <br>

    <button class="btn btn-primary" id="sleepingSubmit" type="submit">Submit</button>

</form>
<div class="fancy">
    <div id="quote">

    </div>
    <div id="author">

    </div>
</div>

<script src="./js/submit/sleeping.js"></script>