header {
  /* padding: 30px; */
  text-align: center;

  padding-top: 5px;
  width: 100%;

  background-image: linear-gradient(
    to bottom left,
    rgb(25, 37, 204),
    rgb(32, 89, 163),
    rgb(82, 167, 196)
  );
}

header h1 {
  font-size: 50px;
  color: white;
}

body {
  flex: 1;
  padding: 10px;
  height: auto;
  background-color: white;
}

.quotes {
  text-align: center;
  padding: 5px;
}

#quote {
  font-size: 20px;
  font-weight: normal;
}

#author {
  font-weight: normal;
  font-size: 20px;
}

.topnav {
  overflow: hidden;

  width: auto;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

div.welcome {
  flex: 1;
  padding: 10px;
  text-align: center;
  font: optional;
  color: black;
  font-size: larger;
  background-color: white;
}

.welcome h1 {
  color: blue;
}

/* Home page section, 3 columns */
.row2 {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 25%;

  color: blue;
  font-size: medium;
  border: solid skyblue;
  text-align: center;
  /* margin-bottom: 20px; */
  padding-bottom: 30px;
}

img.healthy {
  padding-left: 25%;
  padding-right: 25%;
  position: relative;
}

.imgHeader {
  text-align: center;
}

/* Profile charts */
.row3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

div.graph {
  flex: 25%;
  padding: 20px;
  color: blue;
  font-size: medium;
  border: solid skyblue;
  text-align: center;
  position: relative;
}

/* canvas {
  width: 662px;
  height: 331px;
} */

.mainquote {
  flex: 1;
  padding: 5px;

  text-align: center;
  color: black;
  font-size: larger;
  font-style: italic;
}

/* .healthy:hover {
  opacity: 0.1;
} */

@media screen and (max-width: 992px) {
  .column {
    flex: 50%;
  }
}

@media screen and (max-width: 600px) {
  .row2 {
    flex-direction: column;
  }
}

.no-button {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #333;
}

.no-button:hover {
  background-color: #ddd;
  color: black;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: skyblue;
  color: black;
  text-align: center;
  padding: 10px;
}

form.form {
  text-align: left;
  margin: 10px;
  padding: 20px;
  border: solid gray;
  width: auto;
  display: inline-block;
}

input {
  margin: 5px;
  align-content: right;
}

/* Cloud border for quotes */
.fancy {
  align-self: center;
  text-align: center;
  display: inline-block;
  left: 200px;
  top: 50px;

  box-sizing: border-box;
  width: 250px;
  height: 250px;
  padding: 80px 1em 0 1em;
  margin: 0 80px;
  position: relative;
  background-color: powderblue;
  border-radius: 100% 100% 0 0;
}

.fancy::before,
.fancy::after {
  content: "";
  position: absolute;
  bottom: 0;
  z-index: -1;
  background-color: powderblue;
  border-radius: 100%;
}

.fancy::before {
  width: 175px;
  height: 150px;

  left: -120px;

  border-bottom-right-radius: 0;
}

.fancy::after {
  width: 150px;
  height: 125px;
  right: -100px;
  border-bottom-left-radius: 0;
}

#loginpic {
  background-image: url("https://medikeeper.com/wp-content/uploads/2018/12/20-Simple-Health-Habits-Blog.jpg");

  /* min-height: 380px; */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.title {
  color: white;
}
